html, body {
    background: #111111;
}

#timeline-div {
    max-height: 500px;
    overflow-y: auto;
}

/*#timeline li {*/
    /*display: inline;*/
    /*padding: 0px 0px 0px 0px;*/
/*}*/

/*#timeline img {*/
    /*display: inline;*/
/*}*/

.editor-panel {
    position: relative;
}

#video {
    position: relative;
    left: 0px;
    top: 0px;
}

#canvas {
    position: absolute;
    left: 15px;
    top: 0px;
    opacity: 0.5;
    /*display: none;*/
}

.thumb-container {
    float: left;
    border: 3px solid transparent;
}

.thumb-container:focus {
    border: 3px solid orange;
}

.thumb-img {
    zoom: 0.20;
}

.editor-container {
    max-width: 3000px;
}

.scrubber {
    width: 100%;
    display: block;
}