html {
    background: #111111;
}

#timeline {
    zoom: 0.15;
}

#timeline li {
    display: inline;
}

#timeline li img {
}

canvas {
    display: none;
}

video, img, #startbutton {
    border: 2px solid #333333;
    border-radius: 2px;
}

#photo {
    width: 2000px;
    height: 150px;
    background: 3 solid red;
}

#startbutton {
    background: green;
    border: none;
    color: #fff;
    margin: 100px 20px 20px 20px;
    padding: 10px 20px;
    font-size: 20px;
}

/*#container {*/
    /*overflow: hidden;*/
    /*width: 880px;*/
    /*margin: 20px auto;*/
/*}*/
