html, body {
    background: #111111;
}

.jumbotron {
    zoom: 0.75;
}

/*#timeline li {*/
    /*display: inline;*/
    /*padding: 0px 0px 0px 0px;*/
/*}*/

/*#timeline img {*/
    /*display: inline;*/
/*}*/

.editor-container, .navbar-container {
    min-width: 100%;
}

.editor-panel {
    padding-top: 3px;
    width: 670px;
}

.editor-toolbar {
    float: left;
    padding-left: 15px;
    width: 655px;
}

.timeline-toolbar {
    float: left;
    padding-left: 15px;
}

.timeline-div {
    max-height: 500px;
    min-width: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}

.timeline-scrubber {
    max-height: 500px;
    min-width: 640px;
    width: 640px;
    overflow-y: auto;
    overflow-x: hidden;
}

#video {
    position: relative;
    left: 0px;
    top: 0px;
}

#video.rotated {
    -webkit-transform: rotate(180deg);
}

table.projects td {
    padding-right: 20px;
}

#canvas {
    position: absolute;
    left: 15px;
    top: 3px;
    opacity: 0.5;
    /*display: none;*/
}

.thumb-container {
    float: left;
    border: 3px solid transparent;
}

.thumb-container:focus {
    border: 3px solid orange;
}

.thumb-img {
    zoom: 0.20;
}

.container {
    margin: 0 auto;
    max-width: 100%;
}

.scrubber {
    width: 100%;
    display: block;
}

.btn-question {
    font-size: 1.8em;
    color: #c0c0c0;
}

.info-panel {
    width: 640px;
    height: 480px;

    padding: 20px 20px 20px 20px;

    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.info-text {
    background-color: rgba(0,0,0,0.7);
    margin: 10px 30px 10px 30px;
    padding: 20px 20px 20px 20px;
}