<div class="container editor-container">
    <div class="row">
        <div class="col-md-6 editor-panel">
            <video id="video"></video>
            <canvas ng-show="onionEnabled" id="canvas"></canvas>
        </div>
        <div id="timeline-div" class="col-md-6">
            <ul id="timeline" ng-show="mode == 'grid'">
                <li ng-repeat="snap in project.frames">
                    <div class="thumb-container" tabindex="0" ng-focus="thumbfocus($index)">
                        <img class="thumb-img" ng-src="rest/mm/image/{{snap}}"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" ng-click="snap()" title="Take Picture">
                <span class="glyphicon glyphicon-camera"></span>
            </button>
            <button type="button" class="btn btn-primary" ng-show="onionEnabled" ng-click="toggleOnion()" title="Onion Skinning Off">
                <span class="glyphicon glyphicon-eye-close"></span>
            </button>
            <button type="button" class="btn btn-primary" ng-hide="onionEnabled" ng-click="toggleOnion()" title="Onion Skinning On">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            <a class="btn btn-primary" ng-href="/rest/mm/download/{{projectId}}" title="Download Video">
                <span class="glyphicon glyphicon-download"></span>
            </a>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" ng-click="mode='grid'" title="Show Grid">
                <span class="glyphicon glyphicon-th"></span>
            </button>
            <button type="button" class="btn btn-primary" ng-click="mode='video'" title="Show Grid">
                <span class="glyphicon glyphicon-facetime-video"></span>
            </button>
        </div>
    </div>
</div>