<div class="navbar navbar-default">
    <div class="container navbar-container">
        <div class="navbar-header">
            <a href="#/welcome" class="navbar-brand">Movie Maker</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a ng-show="accountService.account.username == 'admin'" ng-href="#/admin">Admin</a></li>
                <li class="dropdown" ng-show="accountService.account.username != undefined">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Logged in: {{accountService.account.username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a tabindex="-1" ng-href="#/projects">Projects</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
                <li></li>
                <li><a href="http://builtwithbootstrap.com/" target="_blank">Built With Bootstrap</a></li>
            </ul>

        </div>
    </div>
</div>
