<div class="container" style="max-width: 70%">
    <div class="jumbotron">
        <h1>Welcome to MovieMaker</h1>

        <p class="lead">MovieMaker allows you to create a stop-frame animations directly in your browser. Create a movie
            and download it, then share to YouTube, Facebook, Google Drive, etc. Sign up with a simple username and
            password to get started (no email address required)</p>
        <p>

        <div class="row" style="font-size: medium;">
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>No Install</h3>

                        <p>MovieMaker uses your webcam directly in the browser (Chrome recommended). You do
                            not need to download and install any software provided you have a working webcam (eg.
                            if you use video in Skype, MovieMaker should be able to use your webcam)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Easy To Use</h3>

                        <p>MovieMaker is really simple. Just click the camera icon to add frames to your movie.
                            Delete frames, preview your results, adjust the movie's speed, and use "onion skinning" to
                            accurately position your model between frames (this shows the previous frame underneath the
                            live webcam preview</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Instant Results</h3>

                        <p>Finished your masterpiece? When you're happy with your movie simply click the download button
                            to save it to your hard disk in MOV format. Play in most video players or share to
                            YouTube, Facebook, etc. Movies expire after 24 hours so be sure to save your movie!</p>
                    </div>
                </div>
            </div>
        </div>

        </p>
        <p>&nbsp;</p>

        <p><a class="btn btn-lg btn-success" ng-href="#/projects">Let's get started!</a></p>
    </div>
</div>