<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Manage your Projects</title>

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen" />
</head>

<body ng-app="moviemaker" class="moviemaker-application waiting-for-angular">

<div id="content-outer" class="container">

    <div login-form>

    </div>

    <div id="content" ng:controller="ProjectsController" ng:init="init()">
        <p>Hello {{account.username}}<br></p>

        <ul>
            <li ng-repeat='project in projects'>
                {{project.name}}
            </li>
        </ul>

        <h3>Press the button to log out.</h3>
        <input type="button" value="Log out" ng-click="logout()" />
    </div>
</div>

<script src="js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/angular-resource.min.js" type="text/javascript"></script>
<script src="js/http-auth-interceptor.js" type="text/javascript"></script>
<script src="js/moviemaker.js" type="text/javascript"></script>
<script src="js/login.js" type="text/javascript"></script>

</body>
</html>